{% extends "layout.html" %} {% block pageTitle %} Apply for help arranging child maintenance {% endblock %}  {% set serviceName = "Apply for help arranging child maintenance" %}  {% block
  content %}
  <!--Feedback banner start-->
 
  <!--Feedback banner stop-->
  <div class="govuk-width-container">
      <main class="govuk-main-wrapper " id="main-content" role="main">
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                  <h1 class="govuk-heading-xl">Apply for help arranging child maintenance</h1>
                  <p class="govuk-body-l">Use the Child Maintenance Service to set up a child maintenance arrangement if
                      you and the other parent cannot
                      agree to one yourselves.</p>
                  <div class="govuk-inset-text">
                      <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>
                  </div>
                  <p> <a href="https://www.nidirect.gov.uk/contacts/child-maintenance-choices">Contact Child Maintenance Choices if you live in Northern
                          Ireland</a></p>
                  <h2 class="govuk-heading-m">Before you start</h2>
                  <p class="govuk-body">You’ll need:</p>
                  <ul class="govuk-list govuk-list--bullet">
                      <li>your unique reference number - you may have received this in an email or text message. If you do
                          not have one, you can apply for it through <a
                              href="https://child-maintenance.service.gov.uk/get-help-arranging-child-maintenance/">Get
                              Help Arranging Child Maintenance</a></li>
                      <li>your
                          <a class="govuk-link" href="https://www.gov.uk/lost-national-insurance-number">National
                              Insurance number</a>
                      </li>
                      <li>details of the children you&rsquo;re applying for</li>
                      <li>the other parent's name and as much other information about them as you can give – for example,
                          where
                          they live or their phone number</li>
                      <li>your bank or building society account details, if you need us to give them to the other parent
                      </li>
                  </ul>
                  <p>You can also speak to your bank or building society about
                      setting up an account that will not give away your location.</p>
                      <p>If you are not the child's biological or adoptive parent, or your child is in local authority care, you will have to apply by phone.</p>
                      <details class="govuk-details" data-module="govuk-details">
                          <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              How to apply by phone
                            </span>
                          </summary>
                          <div class="govuk-details__text">
                              <p>
                                  Find out how to
                              <a href="../contact-details-before-urn.html" class="govuk-link" rel="noreferrer noopener" target="_blank"> contact the Child Maintenance Service (opens in new tab)</a>.
                              </p>
                              <p>This link will open in a new tab. This page will stay open so you can come back to it. </p>
                          </div>
                        </details>
                  <h3 class="govuk-heading-s">Fees</h3>
                  <p>The application fee is £20. It does not guarantee an arrangement. You’ll need a debit or credit card
                      to pay this.</p>
                  <p>You will not have to pay the application fee if you:</p>
                  <ul class="govuk-list govuk-list--bullet">
                      <li>have experienced domestic abuse – if you have, you should
                          <a class="govuk-link" href="https://www.gov.uk/report-domestic-abuse">tell someone about it</a>
                      </li>
                      <li>are under 19 years old</li>
                  </ul>
                  <h3 class="govuk-heading-s">If you&rsquo;re worried about contacting the other parent</h3>
                  <p>We will try to contact the other parent about setting up child maintenance – you do not need to.</p>
                  <p>We will share the following details with the other parent:</p>
                  <ul class="govuk-list govuk-list--bullet">
                      <li>your name</li>
                      <li>your child’s name and birthday</li>
                      <li>the number of nights your child stays with the parent who will be making payments - the other
                          parent will need to confirm this</li>
                  </ul>
                  <p>If you are the parent who will be paying child maintenance, we will also share the following details
                      with the other parent:</p>
                  <ul class="govuk-list govuk-list--bullet">
                      <li>your income information</li>
                      <li>whether any additional children are taken into account in the calculation - we will not share
                          identifying details about these children, only how many have been taken into account</li>
                  </ul>
                  <p></p>




                  <div class="govuk-inset-text">We will not share any other information with the other parent unless you
                      ask us to.</div>



                  <p>If we cannot contact the other parent, we might not be able to set up an arrangement.</p>

                  <form method="post" novalidate>
                    <button type="submit" class="govuk-button">
                        Continue
                    </button>
                </form> 
              </div>

          




              <div class="govuk-grid-column-one-third">
                  <aside class="app-related-items" role="complementary">
                      <h2 class="govuk-heading-m" id="subsection-title">
                          Related content
                      </h2>
                      <nav role="navigation" aria-labelledby="subsection-title">
                          <ul class="govuk-list govuk-!-font-size-16">
                              <li>
                                  <a class="govuk-link"
                                      href="https://www.gov.uk/making-child-maintenance-arrangement/arrange-child-maintenance-yourself">Arranging
                                      child maintenance yourselves</a>
                              </li>
                          </ul>
                      </nav>
                  </aside>
                  <div class="govuk-button--sticky">
                      <a href="https://www.bbc.co.uk/weather" role="button" draggable="false"
                          class="govuk-button govuk-button--warning govuk-!-padding-5 govuk-button--sticky govuk-!-width-full govuk-button--stick hide-on-small"
                          data-module="govuk-button">
                          Hide this page
                      </a>
                  </div>
              </div>
          </div>
  </div>
  </main>
  </div>
  <style>
      .survey-heading a {
          background-color: #005ea5;
          font-family: "nta", Arial, sans-serif;
          font-weight: 700;
          font-size: 28px;
          line-height: 1.11111;
          display: block;
          margin-top: 0px;
          margin-bottom: 30px;
          padding-bottom: 30px;
          padding-top: 30px;
          padding-left: 30px;
          padding-right: 30px;
          color: #ffffff;
          text-decoration: none;
      }
      .survey-heading a:hover {
          text-decoration: underline;
      }
      .survey-heading {
          text-align: center;
          margin: 0px;
      }
      c-related-navigation {
          color: #0b0c0c;
          border-top: 2px solid #005ea5;
      }
      .app-related-items {
          border-top: 0px solid #005ea5;
          padding-top: 0px;
      }
  </style>
  {% endblock %}

