{% extends "layouts/main.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block
  pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="df-speak-to-you" method="post" novalidate>
        
          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
              <h1 class="govuk-fieldset__heading">
               What colour paper do you need?
              </h1>
            </legend>
    

            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              </legend>
            
              <div class="govuk-radios govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio"
                    value="bright pink">
                  <label class="govuk-label govuk-radios__label" for="changed-name">
                    Bright pink
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio"
                    value="light grey">
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                   Light grey
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-3" name="changed-name" type="radio"
                    value="pastel green">
                  <label class="govuk-label govuk-radios__label" for="changed-name-3">
                    Pastel green
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-4" name="changed-name" type="radio"
                    value="pastem lilac">
                  <label class="govuk-label govuk-radios__label" for="changed-name-4">
                    Pastel lilac
                  </label>
                </div>
                 <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-5" name="changed-name" type="radio"
                    value="peach">
                  <label class="govuk-label govuk-radios__label" for="changed-name-5">
                    Peach
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-6" name="changed-name" type="radio"
                    value="primary blue">
                  <label class="govuk-label govuk-radios__label" for="changed-name-6">
                    Primary blue
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-7" name="changed-name" type="radio"
                    value="primary green">
                  <label class="govuk-label govuk-radios__label" for="changed-name-7">
                    Primary green
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-8" name="changed-name" type="radio"
                    value="priamry yellow">
                  <label class="govuk-label govuk-radios__label" for="changed-name-8">
                    Primary yellow
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-9" name="changed-name" type="radio"
                    value="purple">
                  <label class="govuk-label govuk-radios__label" for="changed-name-9">
                    Purple
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-10" name="changed-name" type="radio"
                    value="orange">
                  <label class="govuk-label govuk-radios__label" for="changed-name-10">
                    Orange
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-11" name="changed-name" type="radio"
                    value="red">
                  <label class="govuk-label govuk-radios__label" for="changed-name-11">
                    Red
                  </label>
                </div>
       
          
          
              </div>
            </fieldset>

            
          </div>
          <br>

          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>
      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>
{% endblock %}