{% extends "layouts/main.html.html" %}
{% set serviceName %} Respond to a child maintenance application {% endset%} 
{% block pageTitle %} GOV.UK Prototype Kit {% endblock %} 
{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h1 class="govuk-heading-xl">Check your answers for {{ data['named-child-first-name'] }} {{ data['named-child-middle-name'] }} {{ data['named-child-last-name'] }}</h1>
          <h2 class="govuk-heading-m">{{ data['named-child-first-name'] }}'s details</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['named-child-first-name'] }} {{ data['named-child-middle-name'] }} {{ data['named-child-last-name'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> childs name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                3 10 2012
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> childs date of birth</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Overnight care arrangement
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['arrangementType'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="overnight-summary">
                  Change<span class="govuk-visually-hidden"> overnight stays</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Overnight stays each year
              </dt>
              <dd class="govuk-summary-list__value">
                134
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="overnight-summary">
                  Change<span class="govuk-visually-hidden"> additional nights</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Are you the biological or legal parent of [childs name]?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['parentage'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> whether you are the biological or legal parent of [childs name]</span>
                </a>
              </dd>
            </div>
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Are you on the birth certificate for [childs name]?
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> contact details</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Do you know {{ data['applicant-first-name'] }} {{ data['applicant-middle-name'] }} {{ data['applicant-last-name'] }}
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> whetehr you know {{ data['applicant-first-name'] }}</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Proof you are not the parent 
              </dt>
              <dd class="govuk-summary-list__value">
                DNA test from Cellmark (a government approved laboratory)
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> contact details</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Has {{ data['child-first-name'] }} been legally adopted?
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> whether [childs name] has been legally adopted</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Were you married to {{ data['applicant-first-name'] }} between conception and birth?
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> whether you were married to {{ data['applicant-first-name'] }} between conception and birth</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Was {{ data['child-first-name'] }} conceived using a registered fertility clinic?
              </dt>
              <dd class="govuk-summary-list__value">
              
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> whether {{ data['child-first-name'] }} was conceived using a registered fertility clinic</span>
                </a>
              </dd>
            </div>

          </dl>
      
<!-- Radios add another child -->

          <form method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Do you need to add another child to this arrangement?
                </h1>
              </legend>
              <div id="changed-name-hint" class="govuk-hint">
                Only add the children named on the letter you received from the Child Maintenance Service. We’ll ask about other children in the next steps.
              </div>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="add-another-named-child" name="add-another-named-child" type="radio" value="yes~what-is-your-childs-name">
                  <label class="govuk-label govuk-radios__label" for="add-another-named-child">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="add-another-named-child" name="add-another-named-child" type="radio" value="no~other-children-private-arrangement">
                  <label class="govuk-label govuk-radios__label" for="add-another-named-child">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </form>
        </div>
        {% include "exit-button.html" %}
      </div>
    </main>
  </div>



{% endblock %}

