{% extends "layout.html" %}
{% block pageTitle %} What is your child's full name? {% endblock %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% block content %}
  <!--Feedback banner start-->
  {% include "feedback-banner.html" %}
  <!--Feedback banner stop-->
  <div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form method="get" action="1-dob.html" novalidate>
            <h1 class="govuk-heading-xl">What is your child’s full name?</h1>
            <p>
            Only include your biological or legal children who you want to include in this child maintenance
            arrangement.
          </p>

            {{ govukInsetText({
                              text: "If there is more than one child for this arrangement, we'll ask about them in the next steps."
                              }) 
            }}
            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-width-two-thirds" for="child-1-first-name">
              First name
            </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="child-1-first-name" name="child-1-first-name"
              type="text" autocomplete="name" spellcheck="false">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-width-two-thirds" for="child-1-middle-name">
              Middle names (if they have any)
            </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="child-1-middle-name" name="child-1-middle-name"
              type="text" autocomplete="name" spellcheck="false">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-width-two-thirds" for="child-1-last-name">
              Last name
            </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="child-1-last-name" name="child-1-last-name"
              type="text" autocomplete="name" spellcheck="false">
            </div>

            <button type="submit" class="govuk-button">
            Continue
          </button>

          </form>

        </div>
        {% include "exit-button.html" %}
      </div>
    </main>
  </div>
{% endblock %}