{% extends "layout.html" %} {% block pageTitle %} How often does this child stay overnight with the other parent? {%
endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="get" action='1-overnight-local-authority.html'>
          <div class="govuk-form-group">
            <h1 class="govuk-heading-xl">
              How often does {% if data['child-1-first-name']%} {{data['child-1-first-name']}}
              {% else %}
              [Child's name]
              {% endif %}regularly stay overnight with the other parent?
            </h1>

            <p>
              If you have not yet worked out how often {% if data['child-1-first-name']%} {{data['child-1-first-name']}}
              {% else %}
              [Child's name]
              {% endif %}will stay overnight with
              the other parent, tell us what's happening now.
            </p>

            <br>

            <div class="govuk-radios" data-module="govuk-radios">
              <fieldset class="govuk-fieldset" role="group">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="overnight-1" name="overnight" type="radio" value="Weekly"
                    data-aria-controls="conditional-overnight-1">
                  <label class="govuk-label govuk-radios__label" for="overnight-1">
                    Weekly
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-overnight-1">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="shared-care-days-amount">
                      How many nights in a week?
                    </label>
                    <div class="govuk-input__wrapper">
                      <div class="govuk-input--width-10" aria-hidden="false"></div>
                      <input class="govuk-input govuk-input--width-5" id="shared-care-days-amount-1"
                        name="shared-care-days-amount-1" type="text" spellcheck="false">
                    </div>
                  </div>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="overnight-2" name="overnight" type="radio"
                    value="Fortnightly" data-aria-controls="conditional-overnight-2">
                  <label class="govuk-label govuk-radios__label" for="overnight-2">
                    Fortnightly
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-overnight-2">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-phone">
                      How many nights in a fortnight?
                    </label>
                    <div class="govuk-input__wrapper">
                      <div class="govuk-input--width-10" aria-hidden="false"></div>
                      <input class="govuk-input govuk-input--width-5" id="shared-care-days-amount-2"
                        name="shared-care-days-amount-2" type="text" spellcheck="false">
                    </div>
                  </div>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="overnight-3" name="overnight" type="radio" value="4 weekly"
                    data-aria-controls="conditional-overnight-3">
                  <label class="govuk-label govuk-radios__label" for="overnight-3">
                    Every 4 weeks
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-overnight-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-text">
                      How many nights in 4 weeks?
                    </label>
                    <div class="govuk-input__wrapper">
                      <div class="govuk-input--width-10" aria-hidden="false"></div>
                      <input class="govuk-input govuk-input--width-5" id="shared-care-days-amount-3"
                        name="shared-care-days-amount-3" type="text" spellcheck="false">
                    </div>
                  </div>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="overnight-4" name="overnight" type="radio" value="Monthly"
                    data-aria-controls="conditional-overnight-4">
                  <label class="govuk-label govuk-radios__label" for="overnight-4">
                    Monthly
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-overnight-4">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-text">
                      How many nights in a month?
                    </label>
                    <div class="govuk-input__wrapper">
                      <div class="govuk-input--width-10" aria-hidden="false"></div>
                      <input class="govuk-input govuk-input--width-5" id="shared-care-days-amount-4"
                        name="shared-care-days-amount-4" type="text" spellcheck="false">
                    </div>
                  </div>
                </div>

                {# <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="overnight-5" name="overnight" type="radio"
                    value="No set arrangement" data-aria-controls="conditional-overnight-5">
                  <label class="govuk-label govuk-radios__label" for="overnight-4">
                    No set arrangement
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-overnight-5">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="shared-care-never">
                      Tell us what's happening now (Optional)
                    </label>
                    <div id="more-detail-hint" class="govuk-hint">
                      Try to include a number of nights in your answer.
                    </div>
                    <div class="govuk-form-group">
                      <textarea class="govuk-textarea" id="shared-care-never" name="shared-care-never"
                        rows="5"></textarea>
                    </div>
                  </div>
                </div> #}

                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="overnight-5" name="overnight" type="radio" value="Never">
                    <label class="govuk-label govuk-radios__label" for="overnight-6">
                      Never
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="overnight" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
                <h1 class="govuk-fieldset__heading" id="overnight">
                  Does {% if data['child-1-first-name']%} {{data['child-1-first-name']}}
              {% else %}
              [Child's name]
              {% endif %} spend any extra nights with the other parent that you
                  have not already told us about?
                </h1>
                <span class="govuk-hint">For example, special occasions like school holidays or birthdays.</span>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="special-nights-1" name="special-nights" type="radio"
                    value="Yes" data-aria-controls="conditional-special-nights-1">
                  <label class="govuk-label govuk-radios__label" for="special-nights-1">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-special-nights-1">
                  <div class="govuk-form-group">
                    <div class="govuk-date-input__item">
                      <label class="govuk-label govuk-date-input__label" for="specialNights">
                        How many extra nights a year?
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-3" id="specialNights"
                        name="specialNights" type="number" spellcheck="false">
                    </div>
                  </div>

                  {# <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="700">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="add-help-yes">
                        Is there anything else you want to tell us about the additional nights? (Optional)
                      </label>
                      <textarea class="govuk-textarea govuk-js-character-count" id="specialNightsExtra" name="specialNightsExtra" rows="5"
                        aria-describedby="with-hint-info with-hint-hint"></textarea>
                    </div>
                    <div id="specialNightsExtra-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                      You can enter up to 700 characters
                    </div>
                  </div> #}
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="special-nights-2" name="special-nights" type="radio"
                    value="No">
                  <label class="govuk-label govuk-radios__label" for="special-nights-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Continue
          </button>

        </form>

      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>


{% endblock %}