{% extends "layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% block pageTitle %} Written agreement {% endblock %}
{% block
content %}
  <!--Feedback banner start-->
  {% include "feedback-banner.html" %}
  <!--Feedback banner stop-->
  <div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form method="get" novalidate>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">Do you have a formal written agreement about overnight stays?</h1>
                </legend>
                <div id="writtenAgreement-hint" class="govuk-hint">We can only accept a current court order, formal agreement or other official document.</div>
                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="writtenAgreement" name="writtenAgreement" type="radio" 
                    value="Yes~1-written-agreement.html">
                    <label class="govuk-label govuk-radios__label" for="writtenAgreement"> Yes</label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="writtenAgreement-2" name="writtenAgreement" type="radio" value="No~1-care-arrangement-type.html">
                    <label class="govuk-label govuk-radios__label" for="writtenAgreement-2"> No </label>
                  </div>
                </div>

              </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>

          </form>

        </div>
        {% include "exit-button.html" %}
      </div>
    </main>
  </div>

{% endblock %}