{% extends "layouts/main.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

  
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="what-is-your-religion" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Which of the following best describes your background?
                </h1>
              </legend>


              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnic-group-other" name="ethnic-group-other" type="radio" value="arab">
                  <label class="govuk-label govuk-radios__label" for="ethnic-group-other">
                    Arab
                  </label>
                </div>

                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ethnic-group-other-2" name="ethnic-group-other" type="radio" value="email" data-aria-controls="conditional-ethnic-group-other">
                    <label class="govuk-label govuk-radios__label" for="ethnic-group-other-2">
                      Any other ethnic group
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ethnic-group-other">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="ethnic-background">
                        Your ethnic background (optional)
                      </label>
                      <input class="govuk-input govuk-!-width-one-third" id="ethnic-background" name="ethnic-background" type="text" spellcheck="false" autocomplete="no">
                    </div>
                  </div>

                      <div class="govuk-radios__divider">or</div>
                      
                      <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="ethnic-group-other-3" name="ethnic-group-other" type="radio" value="prefer-not-to-say">
                          <label class="govuk-label govuk-radios__label" for="ethnic-group-other-3">
                            Prefer not to say
                          </label>
                        </div>
        
                  
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>

<!-- Radio buttons end  -->


{% endblock %}

