{% extends "layout-2.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}


<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

  
  
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <div class="govuk-form-group">


              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">
                      Do you know your 7-digit personal identification number (PIN)?
                    </h1>
                  </legend>
                  <div id="changed-name-hint" class="govuk-hint">
                    This is what you use to sign into your child maintenance account. 
                  </div>
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="know-pin" name="know-pin" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="know-pin">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="know-pin" name="know-pin" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="know-pin">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
            </fieldset>

            
          
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>


 

{% endblock %}
