{% extends "layouts/main.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}


<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}


  <!--Phase banner stop-->

  <!-- H1 start -->

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/datagather/iteration1/what-is-your-name" method="post" novalidate>
            <h1 class="govuk-heading-xl">Reset your PIN and memorable password
            </h1>

            <!-- H1 stop -->


            <!--Detail collection-->

            <!-- <div class="govuk-form-group">
              <label class="govuk-label" for="email">
                Email address
              </label>
              <div id="email-hint" class="govuk-hint">
                We’ll only use this to send you updates about the application.
              </div>
              <input class="govuk-input" id="email" name="email" type="email" spellcheck="false"
                aria-describedby="email-hint" autocomplete="email">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="email">
                Confirm email address
              </label>
              <input class="govuk-input" id="email" name="email" type="email" spellcheck="false"
                aria-describedby="email-hint" autocomplete="email">
            </div> -->

            <h2 class="govuk-heading-m">Reset 7-digit personal identification number (PIN)</h2>
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-7">
                Reset PIN
              </label>
              <div id="email-hint" class="govuk-hint">
                You’ll need to reset this so you can sign in to your online account.
              </div>
              <input class="govuk-input govuk-input--width-5" id="width-07" name="width-10" type="text">
            </div>

            <div class="govuk-!-padding-bottom-5"></div>

            <h2 class="govuk-heading-m">Reset memorable password</h2>

            <P>You’ll need this if you forget your PIN.
              Try not to use an easily guessed password like your children's names or dates of birth.</P>


            <div class="govuk-form-group">
              <label class="govuk-label" for="width-20">
                Create password
              </label>
              <div id="email-hint" class="govuk-hint">
                Your memorable password must have at least 8 characters.
              </div>

              <input class="govuk-input govuk-input--width-20" id="password" name="password" type="password"
                value="1234ABC!" data-module="moj-password-reveal">



              <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                  Confirm password
                </label>

                <input class="govuk-input govuk-input--width-20" id="password" name="password" type="password"
                  value="1234ABC!" data-module="moj-password-reveal">

              </div>

              <br>

              <button class="govuk-button" data-module="govuk-button">
                Continue
              </button>

          </form>
    </main>
  </div>





  {% endblock %}