{% extends "layout.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Phase banner start-->

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="/datagather/iteration1/you-have-told-us-about-employer" method="post" novalidate>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="pension-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                          What is your gross income in pounds from {{ data['employer-name'] }}?
                        </h1>
                      </legend>
                      <div class="govuk-inset-text">
                        We will share your income with the other parent.          </div>

                      <p> This is your income before you pay tax or National Insurance. You can usually find this amount on your payslip.
                        We only base your child maintenance calculation on this amount if we cannot get your income from HMRC.</p>

                      <br/>

                      <div class="govuk-form-group">

      <label class="govuk-label" for="income-amount">

      </label>

      <div class="govuk-input__wrapper">
         <div class="govuk-input__prefix" aria-hidden="true">£</div>
         <input class="govuk-input govuk-input--width-5" id="income-amount-fixed" name="income-amount-fixed" type="text" spellcheck="false">
       </div>

</fieldset>
                      </div>
                    </fieldset>

                    <br>
                    <h1 class="govuk-heading-m">
                How often do you receive this amount?
                      </h1>

                      <div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="contact-hint">

<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="frequency" name="often-paid" type="radio" value="annually" data-aria-controls="conditional-contact">
    <label class="govuk-label govuk-radios__label" for="weekly">
      Annually
    </label>
  </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="frequency" name="often-paid" type="radio" value="month" data-aria-controls="conditional-contact-4">
    <label class="govuk-label govuk-radios__label" for="monthly">
    Monthly
    </label>
  </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="frequency" name="often-paid" type="radio" value="two weeks" data-aria-controls="conditional-contact-3">
    <label class="govuk-label govuk-radios__label" for="2weeks">
      Fortnightly
    </label>
  </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="frequency" name="often-paid" type="radio" value="weekly" data-aria-controls="conditional-contact-2">
    <label class="govuk-label govuk-radios__label" for="weekly">
      Weekly
    </label>
  </div>


  </div>

</fieldset>
                      </div>

                      <button class="govuk-button" data-module="govuk-button">
                        Continue
                      </button>
                  


                    </form>
                    </div>
                    </div>
                    </main>
                    </div>


<!-- Hide this page button -->






  
  </main>
</div>




{% endblock %}

