{% extends "layout-2.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/datagather/iteration2/section-six-check-your-answers-direct-pay" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Would you like us to ask the other parent for their bank or building society details?
                </h1>
              </legend>

              <div id="passport-issued-hint" class="govuk-hint">
                You’ll need the other parent’s bank or building society details so you can make Direct Pay payments into their account.
              </div>

              <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="bank-details" name="bank-details" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="bank-details">
                    Yes
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="bank-details" name="bank-details" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="bank-details">
                    No
                  </label>
                </div>
                
              <div class="govuk-radios__divider">or</div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="bank-details" name="bank-details" type="radio" value="I already have the other parent’s bank or building society details">
                <label class="govuk-label govuk-radios__label" for="bank-details">
                  I already have the other parent’s bank or building society details
                </label>
              </div>
           

            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>



<!-- Hide this page button -->






  
  </main>
</div>




{% endblock %}

