{% extends "layout.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Phase banner start-->

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<!-- Radio buttons start -->

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Have you had a court decision about child maintenance payments in the last 12 months?
                </h1>
              </legend>
              <div id="dob-hint" class="govuk-hint">
                This type of decision is sometimes called a ’court order’, ’maintenance order’ or ’minute of agreement’.
              </div>
              <div class="govuk-inset-text">
                This does not include court orders for your children’s living arrangements unless the order also covers
                maintenance payments.
              </div>



              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="court-order" name="court-order" type="radio"
                    value="no~/datagather/iteration2/what-is-your-name">
                  <label class="govuk-label govuk-radios__label" for="court-order">
                    No
                  </label>
                </div>


                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="court-order" name="court-order" type="radio"
                    value="yes~income-none-of-the-above">
                  <label class="govuk-label govuk-radios__label" for="court-order">
                    Yes
                  </label>
                </div>
              </div>



            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

<!-- Radio buttons end  -->


{% endblock %}