{% extends "layout.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Phase banner start-->

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}


  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/datagather/iteration2/where-does-other-child-live" method="post" novalidate>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

                  <h1 class="govuk-fieldset__heading">
                    Does {{ data['fba-first-name'] }}'s other parent get Child Benefit?
                  </h1>
                </legend>

                <div class="govuk-!-padding-bottom-5"></div>

                <!-- <div class="govuk-hint">
                  The application can take over 12 weeks longer to process for a child who is not registered for Child Benefit.
                </div> -->
<!-- 
                <div class="govuk-warning-text">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    If you are not a UK national and your visa says "no recourse to public funds" - do not apply for Child Benefit. You will be unsuccessful and this will slow your Child Maintenance application.
                  </strong>
                </div> -->

                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="child-benefit" name="child-benefit" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="child-benefit">
                     Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="child-benefit" name="child-benefit" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="child-benefit">
                     No
                    </label>
                  </div>

                  <div class="govuk-radios__divider">or</div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="child-benefit" name="child-benefit" type="radio" value="dont-know">
                    <label class="govuk-label govuk-radios__label" for="child-benefit">
                      I don't know
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </form>
        </div>
      </div>
    </main>
  </div>




{% endblock %}

