{% extends "layouts/main.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/datagather/iteration2/when-can-we-call-you" method="post" novalidate>
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" for="reference">
                We will send you updates about the case by email
              </label>
            </h1>

            <p class="govuk-body">
              We will use the email address you gave earlier. 
            </p>

            </fieldset>
            <div class="govuk-!-padding-bottom-5"></div>
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
        </form>
      </div>

    </div>

  </main>
</div>






<!-- Radio buttons end  -->


{% endblock %}