{% extends "layout.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Phase banner start-->

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-width-container">

  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">You need to call the Child Maintenance Service</h1>
        
        <p>You cannot respond to this application online based on what you have told us, you need to get in touch with us using the details below.</p>

        <p class="govuk-body">Find out how to <a href="/datagather/iteration2/central-contact-details" class="govuk-link">contact the Child Maintenance Service (opens in new tab)</a>.</p>
       
      </div>
      <div>
        <div class="govuk-grid-column-one-third">
          <div class="govuk-button--sticky">
              <a href="https://www.bbc.co.uk/weather" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-!-padding-5 govuk-button--sticky govuk-!-width-full govuk-button--stick hide-on-small"
                  data-module="govuk-button">
                  Hide this page
              </a>
          </div>
      </div>
      </div>
    </div>
  </main>
</div>




{% endblock %}
