{% extends "layout-2.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form method="get" action="what-is-your-email-address.html" novalidate>
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                                Where can we send letters about Child Maintenance?
                            </h1>
                        </legend>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="letters-address-line-1">
                                Address line 1
                            </label>
                            <input class="govuk-input" id="letters-address-line-1" name="letters-address-line-1"
                                type="text" autocomplete="address-line1">
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="letters-address-line-2">
                                Address line 2 (optional)
                            </label>
                            <input class="govuk-input" id="letters-address-line-2" name="letters-address-line-2"
                                type="text" autocomplete="address-line2">
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="letters-address-town">
                                Town or city
                            </label>
                            <input class="govuk-input govuk-!-width-two-thirds" id="letters-address-town"
                                name="letters-address-town" type="text" autocomplete="address-level2">
                        </div>
                    </fieldset>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="letters-address-county">
                            County (optional)
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="letters-address-county"
                            name="letters-address-county" type="text">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="letters-address-postcode">
                            Postcode
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="letters-address-postcode"
                            name="letters-address-postcode" type="text" autocomplete="postal-code">
                    </div>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h1 class="govuk-label">
                                    Country
                                </h1>
                            </legend>
                            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="letters-address-country-1"
                                        name="letters-address-country" type="radio" value="month">
                                    <label class="govuk-label govuk-radios__label" for="letters-address-country-1">
                                        England
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="letters-address-country-2"
                                        name="letters-address-country" type="radio" value="year">
                                    <label class="govuk-label govuk-radios__label" for="letters-address-country-2">
                                        Scotland
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="letters-address-country-3"
                                        name="letters-address-country" type="radio" value="year">
                                    <label class="govuk-label govuk-radios__label" for="letters-address-country-3">
                                        Wales
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="letters-address-country-4"
                                        name="letters-address-country" type="radio" value="year">
                                    <label class="govuk-label govuk-radios__label" for="letters-address-country-4">
                                        Northern Ireland
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <button class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>

                </form>

            </div>
            {% include "exit-button.html" %}
        </div>
    </main>
</div>

<!-- Question stop -->






{% endblock %}