{% extends "layouts/main.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="/datagather/iteration2/tell-us-about-your-children" method="post" novalidate>
          <h1 class="govuk-heading-xl">Check your answers about your income</h1>

          <h2 class="govuk-heading-m"> Your income</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Was your annual income £27,541.26 for the tax year 2023-24? 
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> applicants name</span>
              </a>
            </dd>
          </div> -->

            <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you want to tell us about an income change? 
            </dt>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> applicants name</span>
              </a>
            </dd>
          </div> -->

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Income source
              </dt>
              <dd class="govuk-summary-list__value">
                I do not get any
                income, benefits or State
                Pension
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="where-does-your-income-come-from.html">
                  Change<span class="govuk-visually-hidden"> income source</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type of financial support
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['income-source'] }} <br>
                {{ data['labelAsPageHeading'] }} 
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="how-do-you-support-yourself.html  ">
                  Change<span class="govuk-visually-hidden"> type of financial support</span>
                </a>
              </dd>
            </div>

            <div class="govuk-!-padding-bottom-5"></div>

            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
        </form>
      </div>
    </div>
  </main>
</div>




{% endblock %}