{% extends "layouts/main.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h1 class="govuk-heading-xl">Check your answers for {{ data['fba-first-name'] }} {{ data['fba-middle-name'] }} {{ data['fba-last-name'] }}</h1>
          <h2 class="govuk-heading-m">{{ data['fba-first-name'] }}'s details</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Do you have children who you pay for in a private arrangement?
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> whether you have children who you pay for in a private arrangement</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['fba-first-name'] }} {{ data['fba-middle-name'] }} {{ data['fba-last-name'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                14 07 2009
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Does [childname]’s other parent get Child Benefit?
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                [child name]'s address
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ data['address-1-fba'] }}</p>
                <p class="govuk-body">{{ data['address-2-fba'] }}</p>
                <p class="govuk-body">{{ data['town-fba'] }}</p>
                <p class="govuk-body">{{ data['county-fba'] }}</p>
                <p class="govuk-body">{{ data['postcode-fba'] }}</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> [child names] address</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Child Maintenance frequency 
              </dt>
              <dd class="govuk-summary-list__value">
                Monthly <br> £350
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> child maintenance frequency</span>
                </a>
              </dd>
            </div>
       </dl>

<!-- Radios add another child -->

          <form method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Do you need to add another child to this arrangement?
                </h1>
              </legend>
              <div id="changed-name-hint" class="govuk-hint">
                This should be a child you’re already paying for in a private arrangement. We will ask about other children in the next steps.
              </div>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="add-another-fba-child" name="add-another-fba-child" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="add-another-named-child">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="add-another-fba-child" name="add-another-fba-child" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="add-another-named-child">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </form>
        </div>
      </div>
    </main>
  </div>



{% endblock %}

