{% extends "layout/main.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %}

{% block content %}

<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form action="letters-preference.html" method="get" novalidate>
                    <h1 class="govuk-heading-xl">Select your address</h1>
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-radios govuk-!-padding-bottom-9" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive"
                                    type="radio" value="england">
                                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                                    47 Appletree Walk, Newtown, West Yorkshire, NN2 1PP
                                </label>
                            </div>
                        </div>
                    </fieldset>

                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>

                    <p class="govuk-body govuk-!-margin-bottom-6">
                        <a href="letters-address.html" class="govuk-link">Enter address manually</a>
                    </p>
                </form>

            </div>
            {% include "exit-button.html" %}
        </div>
    </main>
</div>



{% endblock %}