{% extends "layout.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Phase banner start-->

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Tell us about children who may affect your calculation
                </h1>
              </legend>

              <div class="govuk-inset-text">
                
                <p class="govuk-body">
                Children must be under 16 or under 20 if they are in full-
                time education or training, up to and including A level or 
                equivalent. See HMRC for the <a href="https://www.gov.uk/
                child-maintenance-
                service/
                disagreements-
                about-parentage" class="govuk-link">list of education and approved 
                training (opens in new tab)</a>.
                </p>

              </div>

              <p class="govuk-body">To calculate your child maintenance, we need to ask you:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>about the children named in the application</li>
                <li>if you pay child maintenance for children in a private arrangement (not using the Child Maintenance Service)</li>
                <li>if any children live with you (for example, your child or a partner’s child)</li>
              </ul>

              <div class="govuk-!-padding-bottom-5"></div>

              <h3 class="govuk-heading-m">If you do not think you are the parent of a child named in this application</h3>

              <p class="govuk-body">
                We need to collect your information so we can decide if you have legal responsibility for the child. We usually need evidence <a href="https://
                www.tax.service.gov.uk/
                information/help?
                helpcategory=
                shortform&helpid=
                CBOFTECH299e"
                class="govuk-link">if you do not think you're the parent (opens in new tab)</a>.
                </p>

            <div class="govuk-!-padding-bottom-3"></div>

            <a href="/datagather/iteration2/what-is-your-childs-name" role="button" draggable="false" class="govuk-button" data-module="govuk-button" formnovalidate>Continue
            </a>

        </form>
      </div>

<!-- Hide this page button -->

  </main>
</div>




{% endblock %}

