{% extends "layouts/main.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/datagather/iteration2/was-first-child-concieved-another-way" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Were you married to {{ data['applicant-first-name'] }} at any time from the conception to the birth of {{ data['named-child-first-name'] }} ?
                </h1>
              </legend>

              <div class="govuk-!-padding-bottom-3"></div>

              <p class="govuk-body">
                This will help us decide if you have <a href="https://
                www.gov.uk/
                parental-rights-
                responsibilities/
                who-has-parental-
                responsibility" class="govuk-link">parental rights and responsibilities</a> for {{
                data['named-child-first-name'] }}.
              </p>

              <div class="govuk-!-padding-bottom-3"></div>

              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="married" name="married" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="married">
                    Yes
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="married" name="married" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="married">
                    No
                  </label>
                </div>

                <div class="govuk-radios__divider">or</div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="married" name="married" type="radio" value="do-not-know">
                  <label class="govuk-label govuk-radios__label" for="married">
                    I do not know
                  </label>
                </div>
              </div>
            </fieldset>
          </div>


          <div class="govuk-!-padding-bottom-5"></div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>













































<!-- Radio buttons end  -->


{% endblock %}