{% extends "layouts/main.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/datagather/iteration2/child-dob" method="post" novalidate>
          <div class="govuk-form-group">

            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" for="applicant-name">
              Children named in the application
              </label>
            </h1>
            
            <div class="govuk-hint">
              Confirm the name of the first child named in the letter you got from the Child Maintenance Service. 
              If more than one child is named in the application, we will ask about them next.
            </div>


            <div class="govuk-!-padding-bottom-5"></div>


            <h2 class="govuk-heading-m">What is the first child's name?</h2>

            <div class="govuk-form-group">
              <label class="govuk-label" for="two-thirds">
                First name
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="named-child-first-name" name="named-child-first-name" type="text">
            </div>


            <div class="govuk-form-group">
              <label class="govuk-label" for="two-thirds">
                Middle names (if they have any)
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="named-child-middle-name" name="named-child-middle-name" type="text">
            </div>


            <div class="govuk-form-group">
              <label class="govuk-label" for="two-thirds">
                Last name
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="named-child-last-name" name="named-child-last-name" type="text">
            </div>

            <div class="govuk-!-padding-bottom-1"></div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>

    
  

<!-- Question stop -->

</main>
</div>





{% endblock %}
