{% extends "layouts/main.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="/datagather/iteration2/how-often-do-you-pay-fba" method="post" novalidate>
          <!-- Question start -->

          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Tell us as much as you can about where {{ data['fba-first-name'] }} {{ data['fba-middle-name'] }} {{
                data['fba-last-name'] }} lives
              </h1>

              <div class="govuk-!-padding-bottom-5"></div>

              <div id="address-hint" class="govuk-hint">
                For example, you might know just the street or town.
              </div>

            </legend>
            <div class="govuk-form-group">
              <label class="govuk-label" for="address-line-1">
                Address line 1
              </label>
              <input class="govuk-input" id="address-1-fba" name="address-1-fba" type="text"
                autocomplete="address-line1">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="address-line-2-fba">
                Address line 2 (optional)
              </label>
              <input class="govuk-input" id="address-2-fba" name="address-2-fba" type="text"
                autocomplete="address-line2">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="town-fba">
                Town or city
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-town-fba" name="address-town-fba"
                type="text" autocomplete="address-level2">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="county-fba">
                County (optional)
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="county-fba" name="county-fba" type="text">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="address-postcode">
                Postcode
              </label>
              <input class="govuk-input govuk-input--width-10" id="postcode-fba" name="postcode-fba" type="text"
                autocomplete="postal-code">
            </div>
          </fieldset>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-label">
                  Country
                </h1>
              </legend>
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
                  <label class="govuk-label govuk-radios__label" for="changed-name">
                    England
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    Scotland
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    Wales
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    Northern Ireland
                  </label>
                </div>
              </div>
            </fieldset>

            <div class="govuk-!-padding-bottom-5"></div>

            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
        </form>
      </div>
  </main>
</div>

<!-- Question stop -->






{% endblock %}