{% extends "layout.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Phase banner start-->

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<!--Phase banner stop-->
<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <div class="govuk-form-group">

                <h1 class="govuk-heading-xl">Check your address</h1>

                <h2 class="govuk-caption-xl">
                  You told us you can get letters to this address:
                </h2> <br>
                  <p class="govuk-heading-m">1 The Towers <br> Hill Top Road <br> Newtown <br> West Yorkshire <br> NW21 7TG <br> England </b></p>

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    Is this correct?
                  </legend>

              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="letters-address" name="letters-address" type="radio" value="yes~contacting-you-about-your-application.html">
                  <label class="govuk-label govuk-radios__label" for="letters-address">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="letters-address-2" name="letters-address" type="radio" value="no~address-look-up-letters-2.html">
                  <label class="govuk-label govuk-radios__label" for="letters-address-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
  </main>
</div>

<!-- Question stop -->






{% endblock %}