{% extends "layouts/main.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Your response has been submitted
          </h1>
        </div>
        <p class="govuk-body">We have sent you a confirmation email.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          Once we have reviewed your information, we will send you a text message and a letter to confirm how much child
          maintenance you
          need to pay and when you need to pay it. <br>
        </p>
        <h2 class="govuk-heading-m">Find out how much you need to pay</h2>

        <p class="govuk-body">
          We cannot confirm how much you will need to pay until we have reviewed your information.
          This usually takes 6 weeks or less. It can take longer if there are disputes about the information we have
          been given. <br>
        </p>

        <p class="govuk-body">
          You can enter your details into the <a href="https://www.gov.uk/calculate-child-maintenance"
            class="govuk-link" rel="noreferrer noopener" target="_blank">Child Maintenance Calculator (opens in new
            tab)</a> to get an estimated payment amount.
          Your actual child maintenance payments may be different to this estimation. 
        </p>

        <!-- MCMC Content -->


        <h2 class="govuk-heading-m">Managing your child maintenance</h2>
        <p class="govuk-body">
          <a href="https://www.gov.uk/child-maintenance-service/sign-in-account" class="govuk-link"
            rel="noreferrer noopener" target="_blank">Sign in to your online child maintenance account</a> using your:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Customer reference number - you can find this on letters from the Child Maintenance Service, it starts
            with 121</li>
          <li>National Insurance Number</li>
          <li>7-digit personal identification number (PIN) – you can <a
              href="https://childmaintenanceservice.direct.gov.uk/iam-las/public/provider/interaction/UfjFzFSBMsQK2FJSa1O0s"
              class="govuk-link" rel="noreferrer noopener" target="_blank">reset your PIN </a> if you cannot remember it
          </li>
        </ul>

        <!-- Restart Prototype button -->

        <div class="govuk-!-padding-bottom-9"></div>

        <a href="/datagather/iteration2/start.html" role="button" draggable="false"
          class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Back to start of Respond service
        </a>

      </div>
    </div>
  </main>
</div>


{% endblock %}