{% extends "layouts/main.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block
    pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form action="../2-fees/domestic-abuse" method="post" novalidate>
                    <h2 class="govuk-heading-xl">Check your answers</h2>
                    <h2 class="govuk-heading-m">How we will contact you</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Letters
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Standard letter (12-point Arial text on white paper)
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-name">
                                    Change
                                    <span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Phone calls
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Standart phone call
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-name">
                                    Change
                                    <span class="govuk-visually-hidden"> previous name</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Do you need any other help?
                            </dt>
                            <dd class="govuk-summary-list__value">No </p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-name">
                                    Change
                                    <span class="govuk-visually-hidden"> date of birth</span>
                                </a>
                            </dd>
                        </div>


                     

                       

                      

<!-- 
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Different contact formats for phone calls
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body"> </p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-nino">
                                    Change
                                    <span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>
                        
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Text messages</dt>
                            <dd class="govuk-summary-list__value">
                                {{data['text']}}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-text">
                                    Change
                                    <span class="govuk-visually-hidden"> contact details</span>
                                </a>
                            </dd>
                        </div> -->
                    </dl>

                    <button type="submit" class="govuk-button">
                        Continue
                    </button>

                </form>

            </div>
            {% include "exit-button.html" %}
        </div>
    </main>
</div>
{% endblock %}