{% extends "layout-2.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block
    pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <!--<form method="post" novalidate>

                    <div class="govuk-form-group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                            <h1 class="govuk-fieldset__heading">What changes do you need?</h1>
                        </legend>

                        <p id="contact-time-hint" class="govuk-hint">
                          You can choose more than one option. We will ask for more detail if necessary.
                        </p>

                        <div class="govuk-checkboxes">
             

                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="eight" name="phone-time" type="checkbox"
                                value="bold~df-font">
                                <label class="govuk-label govuk-checkboxes__label" for="eight">
                                    A different font
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="eight" name="phone-time" type="checkbox"
                                value="bold~df-bold-text">
                                <label class="govuk-label govuk-checkboxes__label" for="eight">
                                    Bold text
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="ten" name="phone-time" type="checkbox"
                                value="colour~df-coloured-paper">
                                <label class="govuk-label govuk-checkboxes__label" for="ten">
                                   Coloured paper
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="midday" name="phone-time" type="checkbox"
                                value="double~df-double-spacing">
                                <label class="govuk-label govuk-checkboxes__label" for="midday">
                                    Double line spacing
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="two" name="phone-time" type="checkbox"
                                value="large~df-large-print">
                                <label class="govuk-label govuk-checkboxes__label" for="two">
                                    Large print
                                </label>
                            </div>
                
                        
                        </div>
<br><br>
                        <button type="submit" class="govuk-button">
                            Continue
                        </button>
                    </div>
                </form>-->

                <form class="form" action="/alt-formats-answer" method="post">

                    {{ govukCheckboxes({
                      name: "formats",
                      values: data["formats"],
                      fieldset: {
                        legend: {
                          text: "What changes do you need?",
                          isPageHeading: true,
                          classes: "govuk-fieldset__legend--xl"
                        }
                      },
                      hint: {
                        text: "You can choose more than one option. We will ask for more detail if necessary."
                      },
                      items: [
                        {
                          value: "font",
                          text: "A different font"
                        },
                        {
                          value: "bold",
                          text: "Bold text"
                        },
                        {
                          value: "colour",
                          text: "Coloured paper"
                        },
                        {
                          value: "spacing",
                          text: "Double line spacing"
                        },
                        {
                          value: "large",
                          text: "Large print"
                        }
                      ]
                    }) }}
                    
                    {{ govukButton({
                      text: "Continue"
                    }) }}
                    
                    </form>

            </div>
            {% include "exit-button.html" %}
        </div>
    </main>
</div>


<!-- In page scripts start-->

<script>

    document.getElementById("text_reveal").style.display = "none";
    // assign function to onclick property of checkbox
    document.getElementById('text').onclick = function () {
        // call toggleSub when checkbox clicked
        // toggleSub args: checkbox clicked on (this), id of element to show/hide
        toggleSub(this, 'text_reveal');
    };
    // called onclick of checkbox
    function toggleSub(box, id) {
        // get reference to related content to display/hide
        var el = document.getElementById(id);

        if (box.checked) {
            el.style.display = 'block';
        } else {
            el.style.display = 'none';
        }
    }
</script>

<!-- In page scripts end -->
{% endblock %}