{% extends "layout/main.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}


<!-- Radios working -->


<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/datagather/iteration2/section-five-check-your-answers-for-fba-child" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

                <h1 class="govuk-fieldset__heading">
                  How often do you pay child maintenance for {{ data['fba-first-name'] }}?
                </h1>
              </legend>

              <div class="govuk-!-padding-bottom-5"></div>

            
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pay-fba" name="pay-fba" type="radio" value="weekly" data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-radios__label" for="pay-fba">
                    Weekly
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      How much child maintenance do you pay each week?
                    </label>

                    <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">£</div>
                      <input class="govuk-input govuk-input--width-5" id="pay-fba-amount" name="pay-fba-amount" type="text" spellcheck="false">
                    </div>
                   
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pay-fba" name="pay-fba-amount" type="radio" value="monthly" data-aria-controls="conditional-contact-2">
                  <label class="govuk-label govuk-radios__label" for="contact-2">
                    Monthly
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-phone">
                      How much child maintenance do you pay each month?
                    </label>

                    <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">£</div>
                      <input class="govuk-input govuk-input--width-5" id="pay-fba-amount" name="pay-fba-amount" type="text" spellcheck="false">
                    </div>

                  
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pay-fba" name="pay-fba-amount" type="radio" value="text" data-aria-controls="conditional-contact-3">
                  <label class="govuk-label govuk-radios__label" for="contact-3">
                    Yearly
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-text">
                      How much child maintenance do you pay each year?
                    </label>

                    <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">£</div>
                      <input class="govuk-input govuk-input--width-5" id="pay-fba-amount" name="pay-fba-amount" type="text" spellcheck="false">
                    </div>

                  </div>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pay-fba" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-4">
                  <label class="govuk-label govuk-radios__label" for="contact-3">
                    Occasionally
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-4">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-text">
                      How have you supported in the last year?
                    </label>

                    <div class="govuk-form-group">
                      <textarea class="govuk-textarea" id="pay-fba-amount" name="more-detail" rows="5"></textarea>
                    </div>
                   

                  </div>
                </div>















              </div>
            </fieldset>
          </div>
  




































          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>


{% endblock %}
