{% extends "layouts/main.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/datagather/iteration3/service-type-preference" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                <h1 class="govuk-fieldset__heading">
                  How we decide your service type
                </h1>
              </legend>
            </fieldset>
          </div>

          <p>We will decide your service type based on:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>your service type preference</li>
            <li>the other parent’s service type preference</li>
            <li>your history using the Child Maintenance Service - for example, if you have missed payments for another
              child maintenance case</li>
          </ul>

          <p>We will contact you to let you know whether you’ll pay by Direct Pay or Collect and Pay.</p>

          <div class="govuk-!-padding-bottom-5"></div>


          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

  </main>

</div>





{% endblock %}