{% extends "layout-2.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="what-is-your-gross-basic-income-frequency" method="post" novalidate>

          <!--<div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="pension-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Your gross basic income from {{ data['employer-name'] }}
                </h1>
              </legend>

              <div class="govuk-inset-text">
                We will share your income with the other parent to explain the child maintenance calculation.</div>

              <p> This is your income before tax and National Insurance. <br>
              <p class="govuk-body">Your gross basic income does not include: </p>

              <ul class="govuk-list govuk-list--bullet">
                <li>overtime</li>
                <li>performance related bonus or incentive</li>
                <li>commission</li>
                <li>pension contributions</li>
              </ul>

              <div class="govuk-!-padding-bottom-5"></div>

              <div class="govuk-form-group">
                <h3 class="govuk-heading-m">What is your gross basic income, in pounds?</h3>
                <label class="govuk-label" for="income-amount">

                </label>

                <div class="govuk-input__wrapper">
                  <div class="govuk-input__prefix" aria-hidden="true">£</div>
                  <input class="govuk-input govuk-input--width-5" id="income-amount-fixed" name="income-amount-fixed"
                    type="text" spellcheck="false">
                </div>
            </fieldset>
          </div>
          </fieldset>-->

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            How often do you get income from {{ data['employer-name'] }}?
          </h1>
          </legend>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="frequency" name="often-paid" type="radio" value="monthly"
                    data-aria-controls="conditional-contact-4">
                  <label class="govuk-label govuk-radios__label" for="monthly">
                    Monthly
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="frequency" name="often-paid" type="radio" value="4 weekly"
                    data-aria-controls="conditional-contact-4">
                  <label class="govuk-label govuk-radios__label" for="4weeks">
                    Every 4 weeks
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="frequency" name="often-paid" type="radio" value="two weekly"
                    data-aria-controls="conditional-contact-3">
                  <label class="govuk-label govuk-radios__label" for="2weeks">
                    Every 2 weeks
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="frequency" name="often-paid" type="radio" value="weekly"
                    data-aria-controls="conditional-contact-2">
                  <label class="govuk-label govuk-radios__label" for="weekly">
                    Weekly
                  </label>
                </div>

              </div>

            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>
      </div>
    </div>
  </main>
</div>


<!-- Hide this page button -->







</main>
</div>




{% endblock %}