{% extends "layouts/main.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <form action="/datagather/iteration3/tell-us-about-your-children" method="post" novalidate>
          <h1 class="govuk-heading-xl">Check your answers about your income</h1>

          <h2 class="govuk-heading-m"> Your income</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">



            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Where does your income come from?
              </dt>
              <dd class="govuk-summary-list__value">
                I do not get any
                income, benefits or State
                Pension
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="where-does-your-income-come-from.html">
                  Change<span class="govuk-visually-hidden"> income source</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Have you ever had income?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['ever-had-income'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="have-you-ever-had-income.html">
                  Change<span class="govuk-visually-hidden"> have you ever had income</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How do you financially support yourself?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['income-source'] }} <br>
                {{ data['labelAsPageHeading'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="how-do-you-support-yourself.html  ">
                  Change<span class="govuk-visually-hidden"> type of financial support</span>
                </a>
              </dd>
            </div>

            <!-- 

            <div class="govuk-!-padding-bottom-5"></div>

            <h2 class="govuk-heading-m"> Your income</h2>
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Employer name
              </dt>
              <dd class="govuk-summary-list__value">
            
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="where-does-your-income-come-from.html">
                  Change<span class="govuk-visually-hidden"> income source</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Job title
              </dt>
              <dd class="govuk-summary-list__value">
            
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="where-does-your-income-come-from.html">
                  Change<span class="govuk-visually-hidden"> income source</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of payslip showing new rate of pay
              </dt>
              <dd class="govuk-summary-list__value">
            
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="where-does-your-income-come-from.html">
                  Change<span class="govuk-visually-hidden"> income source</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Your gross basic income
              </dt>
              <dd class="govuk-summary-list__value">
            £27500
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="where-does-your-income-come-from.html">
                  Change<span class="govuk-visually-hidden"> income source</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Have you earned any extra money in the last 12 months?
              </dt>
              <dd class="govuk-summary-list__value">
            Yes
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="where-does-your-income-come-from.html">
                  Change<span class="govuk-visually-hidden"> income source</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How much have you earned?
              </dt>
              <dd class="govuk-summary-list__value">
            £1500
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="where-does-your-income-come-from.html">
                  Change<span class="govuk-visually-hidden"> income source</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row"></div>
              <dt class="govuk-summary-list__key">
               Do you pay into any private pension schemes?
              </dt>
              <dd class="govuk-summary-list__value">
            No
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="where-does-your-income-come-from.html">
                  Change<span class="govuk-visually-hidden"> income source</span>
                </a>
              </dd>
            </div> -->
          </dl>


          <div class="govuk-!-padding-bottom-7"></div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>




{% endblock %}