{% extends "layouts/main.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h1 class="govuk-heading-xl">Check your answers</h1>
          <h2 class="govuk-heading-m"> Child Maintenance payment details</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Service type preference	
              </dt>
              <dd class="govuk-summary-list__value">
                Direct pay
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Payment frequency
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['payment-frequency'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> payment frequency</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Day of payment
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['payment-frequency-day'] }}
                <br> {{ data['day-of-month-collect-and-pay'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> day of payment</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Do we need to ask the other parent for their account details?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['bank-details'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> contact details</span>
                </a>
              </dd>
            </div>
          </dl>

          <a href="/datagather/iteration3/declaration" role="button" draggable="false" class="govuk-button"
            data-module="govuk-button" formnovalidate>Continue
          </a>

          </form>
        </div>
        {% include "exit-button.html" %}
      </div>
    </main>
  </div>



  {% endblock %}