{% extends "layouts/main.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

  
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/datagather/iteration3/section-three-check-your-answers" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  What support do you need to access appointments or services in person?
                </h1>
              </legend>
              <div id="dob-hint" class="govuk-hint">
                Select all that apply.
              </div>
    
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="where-do-you-live" name="where-do-you-live" type="checkbox" value="england">
                      <label class="govuk-label govuk-checkboxes__label" for="where-do-you-live">
                        Help using door entry or intercom system
                      </label>
                      <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                        For example, minicom
                      </div>
                    </div>
                  
                          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="where-do-you-live" name="where-do-you-live" type="checkbox" value="england">
                              <label class="govuk-label govuk-checkboxes__label" for="where-do-you-live">
                                Induction Loop
                              </label>
                            </div>


                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="where-do-you-live" name="where-do-you-live" type="checkbox" value="england">
                                <label class="govuk-label govuk-checkboxes__label" for="where-do-you-live">
                                  Lift
                                </label>
                              </div>


                              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="where-do-you-live" name="where-do-you-live" type="checkbox" value="england">
                                  <label class="govuk-label govuk-checkboxes__label" for="where-do-you-live">
                                    Ramp
                                  </label>
                                </div>
    

                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                  <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="where-do-you-live" name="where-do-you-live" type="checkbox" value="england">
                                    <label class="govuk-label govuk-checkboxes__label" for="where-do-you-live">
                                      Wide doorway
                                    </label>
                                  </div>
      
  

                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
                                <label class="govuk-label govuk-checkboxes__label" for="contact">
                                  Other
                                </label>
                              </div>
                              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
                                <div class="govuk-form-group">
                                  <label class="govuk-label" for="contact-by-email">
                                    How can we help you access face to face services?
                                  </label>
                                  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                                </div>
                                </div>
                              </div>
                                             
                                              

              </div>
            </fieldset>
          </div>
        
          <a href="/datagather/iteration3/section-three-check-your-answers" role="button" draggable="false" class="govuk-button" data-module="govuk-button" formnovalidate>Continue
          </a>

        </form>
      </div>
    </div>
  </main>
</div>

<!-- Checkboxes end  -->


{% endblock %}
