{% extends "layouts/main.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="get" action="enter-otp" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Verify your email
                </h1>
              </legend>
              <!-- <div id="dob-hint" class="govuk-hint">
                To get email copies of letters from the Child Maintenance Service you need to validate your email address
              </div> -->

              <h2 class="govuk-caption-xl">
                You told us this is your email address:
              </h2> <br>
              <p class="govuk-heading-m">example.email@email.com</p>

              <div class="govuk-inset-text">
                We will send a one-time passcode to that email address. It will expire in 15 minutes.<br><br>
                You can request up to 5 one-time passcodes. You can try each 3 times.
              </div>

              <!-- <div class="govuk-body">Is this the email address you want to validate? <br> <strong>example.email@email.com</strong></div> -->

              <!-- <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                  Enter an email address 
                </label>
                
                <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
              </div> -->

            </fieldset>
          </div>

          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>
            <a href="email-validation-otp-skip.html" class="govuk-link">Do this later in your online account</a>
          </div>

        </form>

      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>

<!-- Radio buttons end  -->


{% endblock %}