{% extends "layout-2.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">

{{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
 
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form  action="what-benefits-do-you-share.html"  method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="benefits-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Do you share any of these benefits with your partner?
                </h1>
              </legend>
              <div id="benefits-hint" class="govuk-hint">
                Select all that apply.
              </div>


              <div class="govuk-inset-text">
                You may have a joint benefits claim if you live with your partner and you’re married, in a civil partnership or living together as a couple.
              </div>


              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefits" name="benefits-share" type="checkbox" value="income-support">
                  <label class="govuk-label govuk-checkboxes__label" for="benefits">
                    Income support
                  </label>
                </div>
          

              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefits-share" name="benefits" type="checkbox" value="pension-credit">
                  <label class="govuk-label govuk-checkboxes__label" for="benefits">
                    Pension Credit
                  </label>
                </div>
          
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefits-share" name="benefits" type="checkbox" value="jobseekers-allowance-income">
                  <label class="govuk-label govuk-checkboxes__label" for="benefits">
                    Jobseeker’s Allowance - Income Based
                  </label>
                </div>
        
          
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefits" name="benefits-share" type="checkbox" value="income-related-employment">
                  <label class="govuk-label govuk-checkboxes__label" for="benefits">
                    Income-related Employment and Support Allowance
                  </label>
                </div>
          
                <div class="govuk-radios__divider">or</div>
          
          
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefits" name="benefits-share" type="checkbox" value="none">
                  <label class="govuk-label govuk-checkboxes__label" for="benefits">
                    No, I do not share any of these with my partner
                  </label>
     
              </div>
            </fieldset>
          </div>
          
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          
          </form>

      </div>
    </div>
  </main>
</div>




{% endblock %}
