{% extends "layout-2.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  When can we call you, if we need to?
                </h1>
              </legend>

              <div id="dob-hint" class="govuk-hint">
                We will try to contact you at your preferred time if we have any questions.
              </div>

              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="call-times" name="call-times" type="checkbox"
                    value="Any-time">
                  <label class="govuk-label govuk-checkboxes__label" for="call-times">
                    Any time
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="call-times-2" name="call-times" type="checkbox"
                    value="Between-8am-and-10am">
                  <label class="govuk-label govuk-checkboxes__label" for="call-times-2">
                    Between 8am and 10am
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="call-times-3" name="call-times" type="checkbox"
                    value="Between-10am-and-midday">
                  <label class="govuk-label govuk-checkboxes__label" for="call-times-3">
                    Between 10am and midday
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="call-times-4" name="call-times" type="checkbox"
                    value="Between-midday-and-2pm">
                  <label class="govuk-label govuk-checkboxes__label" for="call-times-4">
                    Between midday and 2pm
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="call-times-5" name="call-times" type="checkbox"
                    value="Between-2pm-and-4pm">
                  <label class="govuk-label govuk-checkboxes__label" for="call-times-5">
                    Between 2pm and 4pm
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="call-times-6" name="call-times" type="checkbox"
                    value="Between-4pm-and-6pm">
                  <label class="govuk-label govuk-checkboxes__label" for="call-times-6">
                    Between 4pm and 6pm
                  </label>
                </div>

                <div class="govuk-checkboxes__divider">or</div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="call-times-7" name="call-times" type="checkbox"
                    value="email" data-aria-controls="conditiopnal-call-times" data-behaviour="exclusive">
                  <label class="govuk-label govuk-checkboxes__label" for="call-times-7">
                    None of these times work for me
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                  id="conditiopnal-call-times">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="conditiopnal-call-times">
                      What time would work for you?
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="1"
                      aria-describedby="more-detail-hint"></textarea>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Can we leave voicemails if we can not contact you?
                </h1>
              </legend>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="voicemails" name="voicemails" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="voicemails">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="voicemails-2" name="voicemails" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="voicemails-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>


          <a href="section-two-check-your-answers" role="button" draggable="false"
            class="govuk-button" data-module="govuk-button" formnovalidate>Continue</a>

        </form>

      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>

<!-- Checkboxes end  -->


{% endblock %}