{% extends "layout-2.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <form action="where-does-your-income-come-from.html" method="post" novalidate>
    <div class="govuk-form-group">
      <div class="govuk-grid-column-two-thirds">
        <fieldset class="govuk-fieldset" aria-describedby="income-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Where does your income come from?
            </h1>
          </legend>
          <div id="income-hint" class="govuk-hint">
            Select all that apply.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="income-source" name="income-source" type="checkbox"
                value="benefits">
              <label class="govuk-label govuk-checkboxes__label" for="income">
                Benefits or State Pension
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="income-source" name="income-source" type="checkbox"
                value="employment">
              <label class="govuk-label govuk-checkboxes__label" for="income">
                Employment
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="income-source" name="income-source" type="checkbox"
                value="self-employment">
              <label class="govuk-label govuk-checkboxes__label" for="income-source">
                Self-employment
              </label>
            </div>

            <div class="govuk-radios__divider">or</div>


            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="income" name="income-source" type="checkbox" value="none">
              <label class="govuk-label govuk-checkboxes__label" for="income">
                I do not get any income, benefits or State Pension
              </label>
            </div>
        </fieldset>

        <div class="govuk-!-padding-bottom-6"></div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </div>
  </form>





  {% endblock %}