{% extends "layouts/main.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/datagather/iteration3/section-five-check-your-answers-for-named-child" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  You need to call the Child Maintenance Service
                </h1>
              </legend>

              <div class="govuk-!-padding-bottom-5"></div>

              <p class="govuk-body">
                You cannot respond to this application online if you are no longer employed but do not have your last income payment. We need to collect more information from you to process your response.
              </p>
              
              <p class="govuk-body">
                Find out how to <a href="#" class="govuk-link">contact the Child Maintenance Service (opens in new tab)</a>.
              </p>

            </fieldset>

          </div>
          
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}