{% extends "layout.html" %} {% set serviceName %} Respond to a child maintenance application {% endset%} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<!--Phase banner start-->

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

  
<!--Phase banner stop-->

<!-- H1 start -->

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
          <form action="/datagather/iteration1/create-an-account" method="post" novalidate>
            <div class="govuk-form-group">
            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl">Using a child maintenance account 
              </h1>

<!-- H1 stop -->

<!-- Supporting content start -->

<p>The online child maintenance account is a secure way to get updates about this application.
   Nobody else can access your account. </p>

<p>You can:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>see how much you need to pay and when you need to pay it</li>
  <li>see your payment history</li>
  <li>make child maintenance payments if you use Collect and Pay</li>
  <li>track the progress of changes you’ve reported</li>
  <li>update your contact details</li>
  <li>tell us about changes to your circumstances</li>
</ul>

<h3 class="govuk-heading-m">If you have another child maintenance case</h2>

<p>You may have a child maintenance account if you already pay or receive child maintenance.
   You can use the same account to manage all your cases and applications in one place.</p>

<!-- Supporting content stop -->

<div class="govuk-!-padding-bottom-5"></div>

<!-- Buttons -->

<div class="govuk-button-group">
  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
  <a class="govuk-link" href="/datagather/iteration1/do-you-know-your-pin-and-password.html">Already have an account?</a>
</form>



</main>
</div>





 

{% endblock %}
