{% extends "layouts/main.html" %}
{% set serviceName %} Respond to a child maintenance application {% endset%}
{% block pageTitle %} GOV.UK Prototype Kit {% endblock %}
{% block content %}

  <div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            <div class="govuk-form-group">

              <h2 class="govuk-caption-xl">
                  You have told us about the following company:</h2>
              <p class="govuk-heading-xl">{{ data['company'] }}
              </p>

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    Do you need to add another company?
                  </legend>

              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="add-self-employer" name="add-self-employer" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="add-employer">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="add-self-employer" name="add-self-employer" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="add-employer">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>

{% endblock %}