{% extends "layout/main.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>

          <h1 class="govuk-heading-xl">Will you answer a research question to help improve the Child Maintenance
            Service?
          </h1>
          <span id="maintenance-liability-hint" class="govuk-hint">
            We are doing research to understand how people have chosen to apply. This is a voluntary question and you do
            not have to answer it.
          </span>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="yes" name="answer-some-questions" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="no" name="answer-some-questions" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="no">
                    No
                  </label>
                </div>

              </div>
            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>

      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>


<!-- inpage style start -->

<style>
  .survey-heading a {
    background-color: #005ea5;
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.11111;
    display: block;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: #ffffff;
    text-decoration: none;
  }

  .survey-heading a:hover {

    text-decoration: underline;
  }

  .survey-heading {
    text-align: center;
    margin: 0px;

  }

  c-related-navigation {
    color: #0b0c0c;
    border-top: 2px solid #005ea5;
  }

  .app-related-items {
    border-top: 0px solid #005ea5;
    padding-top: 0px;
  }
</style>

<!-- inpage style end -->

{% endblock %}