{% extends "layout/main.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Continue your application later</h1>

        <!--If user specified no contact-->
        {% if data['send-reference'] === 'no' %}
        <p class="govuk-body">You can apply online later when you are ready by going to:</p>
        <p class="govuk-body"><a href="start-apply-journey" target="_blank" rel="noopener noreferrer">child-maintenance.service.gov.uk/apply</a></p>
        <p class="govuk-body">You can write this down or save it as a bookmark using your browser.</p>

        <!--If user asked for email-->
        {% elseif data['email-or-text-message'] === 'email' %}
        <p class="govuk-body">You can apply later using the instructions in the email you've been sent.</p>

        <!--If user asked for text-->
        {% elseif data['email-or-text-message'] === 'text' %}
        <p class="govuk-body">You can apply later by using the instructions in the text message you've been sent.</p>

        <!--If something has gone wonky (yes to contact question, but somehow progressed with no contact given / has skipped straight to this page)-->
        {% else %}
        <p class="govuk-body">You can apply online later when you are ready by going to:</p>
        <p class="govuk-body"><a href="/start-apply-journey">child-maintenance.service.gov.uk/apply</a></p>
        <p class="govuk-body">You can write this down or save it as a bookmark using your browser.</p>
        {% endif %}

      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>
{% endblock %}
