{% extends "layout-2.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <!--start of radio-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="live-uk-hint">

              <!--COURT ORDER EXISTS - needs to go a Child Maintenance expert who can help with edge cases -->
              {%if data['have-you-had-a-court-decision'] === 'yes' %}
              {% include './includes/eligibility-court-order.html' %}
              <!--OTHER PARENT RESIDENCY UNKNOWN-->
              {% elseif data['where-does-the-other-parent-live'] === 'op-lives-unknown' %}
              {% include './includes/eligibility-op-residency-unknown.html' %}
              <!--OTHER PARENT OUTSIDE THE UK-->
              {% elseif data['where-does-the-other-parent-live'] === 'op-lives-outside-uk' %}
              {% include './includes/eligibility-op-outside-uk.html' %}
              <!--LIVES OUTSIDE THE UK-->
              {% elseif data['where-do-you-live'] === 'lives-somewhere-else' %}
              <!--GENERIC - THIS SHOULD NEVER BE SEEN, BUT IS THERE TO GRACEFULLY HANDLE ERRORS-->
              {% include './includes/eligibility-outside-uk.html' %}
              {% else %}
              {% include './includes/eligibility-generic.html' %}
              {% endif %}
            </fieldset>
          </div>
        </form>
      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>
{% endblock %}