{% extends "layout/main.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Contact the Child Maintenance Service</h1>

        <h2 class="govuk-heading-m">Call the Child Maintenance Service</h2>
        <p>
          <!--<strong>Telephone  </strong>-->
          Telephone: 0800 171 2345
          <br>Monday to Friday, 8:00am to 3:30pm (excluding bank holidays)
          <br>
          <br> Relay UK: 18001 0800 171 2345
          <br>Monday to Friday, 8:00am to 8:00pm (excluding bank holidays)
          <br>
          <br><a href="https://www.gov.uk/call-charges">Find out about call charges</a>
          <br>
          <br><strong>If you use British or Irish Sign Language</strong>
          <br>
          <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">Check you can use the video sign language relay
            service</a>
          <br>
          <a href="https://dwpcmg.signvideo.net/">Video relay service for British Sign
            Language (BSL) users</a>
          <br>
          <br> Monday to Friday, 9:30am to 3:30pm (excluding bank holidays)
          <br>
        <div class="govuk-inset-text">
          <a href="https://www.nidirect.gov.uk/contacts/child-maintenance-service">There’s a different phone number if
            you live in Northern Ireland.</a>
        </div>
        </p>

      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>

{% endblock %}