{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" action="/prototype6/iteration1/emailSentAnswer" novalidate>
          <h1 class="govuk-caption-xl">
            An email has been sent to: <br>
            <span class="govuk-heading-xl">
              {% if data['contact-by-email'] %}
              {{data['contact-by-email']}}
              {% else %}
              anthony@email.com
              {% endif %}
            </span>
          </h1>
          <p class="govuk-body">The sender will be child-maintenance@dwp.gov.uk</p>
          <p class="govuk-body">The email will include:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              your application reference number
            </li>
            <li>
              contact details for Child Maintenance Service
            </li>
            <li>
              information about what you need before you start
            </li>
          </ul>
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button"> Continue </button>
          </div>
        </form>
      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>

{% endblock %}