{% extends "layout-2.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">This is the end of the current prototype</h1>
        <p class="govuk-body">Thank you for helping us with our testing.</p>

      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>
{% endblock %}