{% extends "layout-2.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <!--start of radio-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="maintenance-liability-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Have you had a court decision about child maintenance payments in the last 12 months?
                </h1>
              </legend>
              <span id="maintenance-liability-hint" class="govuk-hint">
                This type of decision is sometimes called a &rsquo;court order&rsquo;, &rsquo;maintenance order&rsquo; or &rsquo;minute of agreement&rsquo;.
              </span>

              <div class="govuk-inset-text">We do not need to know about any court orders for your children’s living arrangements unless the order also covers maintenance payments.
              </div>

              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="no" name="have-you-had-a-court-decision" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="no">
                    No
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="yes" name="have-you-had-a-court-decision" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="yes">
                    Yes
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <!--end-->
          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>
      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>
{% endblock %}
