{% extends "layout/main.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-method-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  How do you want to apply?
                </h1>
              </legend>
              <div id="contact-method-hint" class="govuk-hint">
                Making an application online is usually quicker than by phone.
              </div>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact-method" name="contact-method" type="radio"
                    value="online" data-aria-controls="conditional-contact-method">
                  <label class="govuk-label govuk-radios__label" for="contact-method">
                    Online
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-contact-method">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-method-by-email">
                      You need to apply by phone if you are not the child's biological or adoptive parent.
                    </label>
                  </div>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact-method-2" name="contact-method" type="radio"
                    value="phone" data-aria-controls="conditional-contact-method-2">
                  <label class="govuk-label govuk-radios__label" for="contact-method-2">
                    Phone
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-contact-method-2">
                </div>
              </div>
            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>
      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>


{% endblock %}