{% extends "layout-2.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <!--start of radio-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="live-uk-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Does to other parent work for one of these organisations?
                </h1>
              </legend>

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="civil-service" name="op-work-for-uk-organisation" type="radio"
                    value="civil-service">
                  <label class="govuk-label govuk-radios__label" for="civil-service">
                    the UK Civil Service
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="diplomatic-service" name="op-work-for-uk-organisation"
                    type="radio" value="diplomatic-service">
                  <label class="govuk-label govuk-radios__label" for="diplomatic-service">
                    Her Majesty’s Diplomatic Service
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="armed-forces" name="op-work-for-uk-organisation" type="radio"
                    value="armed-forces">
                  <label class="govuk-label govuk-radios__label" for="armed-forces">
                    the UK armed forces
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="uk-company" name="op-work-for-uk-organisation" type="radio"
                    value="uk-company">
                  <label class="govuk-label govuk-radios__label" for="uk-company">
                    a company that is based an registered in the UK
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="nhs" name="op-work-for-uk-organisation" type="radio"
                    value="nhs">
                  <label class="govuk-label govuk-radios__label" for="nhs">
                    the NHS
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="local-authority" name="op-work-for-uk-organisation"
                    type="radio" value="local-authority">
                  <label class="govuk-label govuk-radios__label" for="local-authority">
                    a UK local authority
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="no-uk-organisation" name="op-work-for-uk-organisation"
                    type="radio" value="no-uk-organisation">
                  <label class="govuk-label govuk-radios__label" for="no-uk-organisation">
                    none of these
                  </label>
                </div>

              </div>
            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Continue
          </button>

        </form>

      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>
{% endblock %}