{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  <form method="post" action="/prototype6/iteration1/textMessageSent" novalidate>
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                    <!--start of radio-->
                   
                    <!-- <form class="form" action="/prototype6/iteration1/text-message-sent"
                    {% if data['how-do-you-want-to-apply'] == 'phone' %}apply-by-phone{% endif %}
                    {% if data['how-do-you-want-to-apply'] == 'online' %}start-your-application{% endif %}
                    {% if data['will-you-be-paying-or-receiving'] =='paying' and not data['how-do-you-want-to-apply']%}apply-by-phone{% endif %}"> -->

                <h1 class="govuk-caption-xl">
                  A text message has been sent to: <br>
                          <span class="govuk-heading-xl">
                    {% if data['contact-by-text'] %}
                    {{data['contact-by-text']}}
                    {% else %}
                    07123 456 789
                    {% endif %}
                  </span>
                </h1>

                <p class="govuk-body">The sender: will be 'DWP Child Maintenance'</p>
                <p class="govuk-body">The text message will include:</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% if data['how-do-you-want-to-apply'] === 'online' and data['send-reference'] === 'yes' %}
                      {% include './includes/email-phone.html' %}
                  {% else %}
                    {% include './includes/text-phone.html' %}
                  {% endif %}
                </ul>

                <div class="govuk-button-group">
                  <button class="govuk-button" data-module="govuk-button"> Continue </button>
                </div>

            </div>
            {% include "exit-button.html" %}
        </div>
    </main>
</div>
{% endblock %}
