{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <div class="govuk-form-group">
            <h1 class="govuk-heading-xl">If you are worried about your safety</h1>

            <p class="govuk-body">You do not need to have any contact with the other parent to use the Child Maintenance
              Service.
            </p>

            <h2 class="govuk-heading-m">The Child Maintenance Service will send you text messages</h2>

            <p class="govuk-body">If you do not think it is safe for you to get text messages about child maintenance,
              you should apply by phone.
            </p>

            <p class="govuk-body">
              <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Contact the Child Maintenance
                Service (opens in a new tab).</a>
            </p>

            <!--Paying parent-->
            {% if data['will-you-be-paying-or-receiving'] === 'receiving' %}
            {% include './includes/receiving-contact.html' %}
            {% endif %}

            <a href="domestic-abuse-help.html" role="button" draggable="false" class="govuk-button"
              data-module="govuk-button">
              Continue
            </a>
          </div>
        </form>
      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>
{% endblock %}