{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <!--start of radio-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="live-uk-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-fieldset__legend--xl ">
                <h1 class="govuk-fieldset__heading">
                  Does the other parent live in England, Scotland, Wales or Northern Ireland?
                </h1>
              </legend>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="op-lives-in-uk" name="where-does-the-other-parent-live" type="radio" value="op-lives-in-uk">
                <label class="govuk-label govuk-radios__label" for="op-lives-in-uk">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="op-lives-outside-uk" name="where-does-the-other-parent-live" type="radio" value="op-lives-outside-uk">
                <label class="govuk-label govuk-radios__label" for="op-lives-outside-uk">
                  No
                </label>
              </div>
              <div class="govuk-radios__divider">or</div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="op-lives-unknown" name="where-does-the-other-parent-live" type="radio" value="op-lives-unknown">
                <label class="govuk-label govuk-radios__label" for="op-lives-unknown">
                  I do not know where the other parent lives
                </label>
              </div>
            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>
      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>
{% endblock %}
