{% extends "layout.html" %}

{% block header %}
{% include './_header-options.html' %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">'Get Help' and 'Respond' Prototypes for reference</h1>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
</div> <!-- grid row -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Get help prototype - for reference</h1>

    <ul class="govuk-list govuk-list--bullet">
      <li class="govuk-heading-s">Last updated</li>
      <li class="govuk-body">October 2024</li>
    </ul>
    <ul class="govuk-list govuk-list--bullet">
      <li class="govuk-heading-s">Date created</li>
      <li class="govuk-body">March 2022</li>
    </ul>

    <h3 class="govuk-heading-s ">What is it:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>The full Options (Get Help) journey</li>
      <li>Iteration of the 'get information' page, now includes advice from 3rd parties</li>
      <li>Updated content based on feedback recieved from Citizens Advice</li>
      <li>UR question has been moved to the end of the journey, allowing a user to do their task first before we
        ask them for feedback</li>
      <li>Content changes based on feedback from UR with Citizens Advice</li>
      <li>Content changed based on feedback from prof of parental law at University of Cambridge </li>
      <li><strong>UPDATES:</strong><br>(Mar 2022): Routing has been fixed to mirror latest flow diagram </li>
      <li>Survey UR has been updated to only include 1 question</li>
      <li>Information page has been updated</li>
    </ul>

    <a href="prototype6/index.html" class="govuk-button govuk-button--start">Start prototype</a>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h1 class="govuk-heading-l">Respond prototype - for reference</h1>
    <h2 class="govuk-heading-m">
      Respond to a child maintenance application - iteration 1
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li class="govuk-heading-s">Last updated</li>
      <li class="govuk-body">October 2024</li>
    </ul>
    <ul class="govuk-list govuk-list--bullet">
      <li class="govuk-heading-s">Date created</li>
      <li class="govuk-body">Jan 2023</li>
    </ul>

    <h3 class="govuk-heading-s ">What is it:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Section one / matching a user to a case and MCMC sign up</li>
      <li>Section two / asking a user for personal details</li>
      <li>Section three / optional equality questions section</li>
      <li>Section four / asking a user employment and income details</li>
      <li>Section five / asking a user about their children and arrangements</li>
      <li> Section six / payment types available for child maintenance</li>
    </ul>

    <h3 class="govuk-heading-s">Changes from user research</h3>

    <h3 class="govuk-heading-s ">Whats new:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Included new contact preferences work</li>
      <li>Service name has been changed from "Complete a Child Maintenance Application" to "Respond to a Child
        Maintenance Application"</li>
      <li>Applicant name and Your name questions have been switched around</li>
      <li>MCMC sign up has been included</li>
      <li>Single name fields have been split into three fields</li>
      <li>Court order question has been added in as an eligibility filter</li>
      <li>Child benefit questions have been removed across the service</li>
      <li>Income questions have been merged into one question based on user feedback</li>
      <li>Parentage term has been changed to biological or legal parent</li>
      <li>A user is now dropped out of the service if they don't accept being the biological or legal
        parent</li>
      <li>Calculator link has been added to the end of the service based on user feedback</li>
      <li>DP onboarding and bank details have been aligned with Apply</li>
      <li>Income questions have been changed for testing on 12/6/2024</li>
      <li>Adding 'I do not know' Radio option to Parentage questions  - "Are you the biological or legal parent of..." and "Are you on the birth certificate of..."</li>
      <li>Creating new flow for explicitly capturing and email and OTP verification.</li>
    </ul>


    <div class="govuk-button-group">
      <a href="/datagather/iteration3/start" class="govuk-button govuk-button--start">Start prototype</a>



      <a class="govuk-link" href="/datagathermulticase/iteration/income-not-on-letter.html">Income section -
        Multicase</a>
    </div>
  </div>

</div>
</div>

</div> <!-- grid row -->



{% endblock %}