{% extends "layout.html" %}

{% block header %}
{% include './_header-options.html' %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit 
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Archived Prototypes</h1>

  </div>

  <div class="govuk-grid-column-two-thirds">
   
    <div class="govuk-inset-text">
     Prototypes in this space are archived and no longer in use by the team.
    </div>

  </div>

 


  <div class="govuk-grid-column-full">
    <br><h2 class="govuk-heading-l">Telephony prototype</h2>
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Telephony tool - test 3
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">First iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Last updated</dt>
                <dt class="govuk-body">1st Nov 2021</dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">Oct 2021</dt>
              </dl>

              <dl>
                <dt class="govuk-heading-s">Login details</dt>
                <dt class="govuk-body">Username: phone<br> Password: research
                </dt>
              </dl>
            </div>
          </div>
                  <a href="https://cms-g4s-test3.herokuapp.com/" class="govuk-button govuk-button--start">Start prototype (external)</a>
        </div>
      </div>

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Telephony tool - test 2
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">First iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Last updated</dt>
                <dt class="govuk-body">August 2021</dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">August 2021</dt>
              </dl>

              <dl>
                <dt class="govuk-heading-s">Login details</dt>
                <dt class="govuk-body">Username: phone<br> Password: research
                </dt>
              </dl>
            </div>
          </div>
                  <a href="https://cms-g4s-test2.herokuapp.com/" class="govuk-button govuk-button--start">Start prototype (external)</a>
        </div>
      </div>


      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Telephony tool - test 1
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">First iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Last updated</dt>
                <dt class="govuk-body">July 2021</dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">July 2021</dt>
              </dl>

              <dl>
                <dt class="govuk-heading-s">Login details</dt>
                <dt class="govuk-body">Username: phone<br> Password: research
                </dt>
              </dl>
            </div>
          </div>
            <a href="https://cms-g4s.herokuapp.com" class="govuk-button govuk-button--start">Start prototype (external)</a>
        </div>
      </div>

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Draft internal telephony tool
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">First iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">April 2021</dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s"><a href="">Jira or confluence link</a></dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s">What it is</dt>
                <dt class="govuk-body">First go at creating an internal tool to be used by telephony agents - it creates a structure for the call, and will provide prompts and language choices we anticipate agents would need to use.
                </dt>
              </dl>
            </div>
          </div>

          <a href="telephonytool/index" class="govuk-button govuk-button--start">Start prototype</a>
        </div>
      </div>
</div>
<div class="govuk-!-padding-bottom-9"></div>
</div>
      

<!-- Get Help NI -->


<div class="govuk-grid-column-full">
  <h2 class="govuk-heading-l">Get help NI prototype</h2>
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
        Get Help Northern Ireland
      </span>
    </h2>
  </div>
  <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

    <span class="govuk-tag govuk-tag--green">First iteration</span>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <dl>
          <dt class="govuk-heading-s">Last updated</dt>
          <dt class="govuk-body">October 2023</dt>
        </dl>
        <dl>
          <dt class="govuk-heading-s">Date created</dt>
          <dt class="govuk-body">October 2023</dt>
        </dl>


        <dl>
          <dt class="govuk-heading-s">What it is</dt>
          <dt class="govuk-body">
            Includes:<br><br>
            - the full Options (Get Help) journey<br><br>
          </dt>
        </dl>
      </div>
    </div>

    <a href="/northernireland/iteration1/welcome.html" class="govuk-button govuk-button--start">Start prototype</a>
  </div>
</div>
</div>
<div class="govuk-!-padding-bottom-9"></div>
</div>







<!-- Merged prototype -->


        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l">Merged service prototype</h2>
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      
  
  
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                GHACM & Apply merged Prototype
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
  
            <span class="govuk-tag govuk-tag--green">First iteration</span>
  
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <dl>
                  <dt class="govuk-heading-s">Last updated</dt>
                  <dt class="govuk-body">Feb 2023</dt>
                </dl>
                <dl>
                  <dt class="govuk-heading-s">Date created</dt>
                  <dt class="govuk-body">June 2022</dt>
                </dl>
  
  
                <dl>
                  <dt class="govuk-heading-s">What it is</dt>
                  <dt class="govuk-body">
                    Includes:<br><br>
                    - the full Options (Get Help) journey<br><br>
                    - The start of the apply journey up until a URN is asked for<br><br>
                    - Removal of duplicate eligibility questions<br><br>
                    - Links to correct jounrey PP or RP in apply based on answers from options<br><br>
                    - UR question has been moved to the end of the journey, allowing a user to do their task first before we ask them for feedback<br><br>
                  
                 
          
                  </dt>
                </dl>
              </div>
            </div>
  
            <a href="merged/index.html" class="govuk-button govuk-button--start">Start prototype</a>
          </div>
        </div>
      </div>
      <div class="govuk-!-padding-bottom-9"></div>
    </div>


<!-- Misc. prototypes -->

      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Misc. prototypes</h2>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Information journey - starts from what do you want to do page
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">First iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
              <dt class="govuk-heading-s">Last updated</dt>
              <dt class="govuk-body">5th April 2022</dt>
            </dl>
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">April 2022</dt>
              </dl>

              <dl>
                <dt class="govuk-heading-s">What it is</dt>
                <dt class="govuk-body"> A way of showing the user the information they need using radio buttons to filter them to the right content for their situation. <br><br>
              </dl>
            </div>
          </div>

          <a href="/Information/what-do-you-want-to-do" class="govuk-button govuk-button--start">Start prototype</a>
        </div>
      </div>






      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Calculator - Start page and final page
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">Third iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
              <dt class="govuk-heading-s">Last updated</dt>
              <dt class="govuk-body">8nd June 2022</dt>
            </dl>
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">Aug 2021</dt>
              </dl>

              <dl>
                <dt class="govuk-heading-s">What it is</dt>
                <dt class="govuk-body">It's the start and final page of the calculator with an invite to private beta at the bottom.<br><br> Content around the calculation being an estimate has also been added.<br><br>
                  <strong>note:</strong> the final page can be found in Prototype 6 if in case any changes are required.
              </dl>
            </div>
          </div>

          <a href="calculator/start.html" class="govuk-button govuk-button--start">Start prototype</a>
        </div>
      </div>

    

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Calculator - service unavailable private beta invite
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">First iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
              <dt class="govuk-heading-s">Last updated</dt>
              <dt class="govuk-body">2nd March 2022</dt>
            </dl>
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">Jan 2022</dt>
              </dl>

              <dl>
                <dt class="govuk-heading-s">What it is</dt>
                <dt class="govuk-body">It's a service unavailable page with an invite to private beta at the bottom.<br><br>
              </dl>
            </div>
          </div>

          <a href="calculator/a-calculation-cannot-be-made.html" class="govuk-button govuk-button--start">Start prototype</a>
        </div>
      </div>




      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Calculator - Accessibility statement 
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">Second iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
              <dt class="govuk-heading-s">Last updated</dt>
              <dt class="govuk-body">18th Jan 2023</dt>
            </dl>
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">18th Jan 202</dt>
              </dl>

              <dl>
                <dt class="govuk-heading-s">What it is</dt>
                <dt class="govuk-body"> An updated version of the accessibility statement page based on the latest GOV.UK guidance.<br>
      
              </dl>
            </div>
          </div>

          <a href="calculator/calculator-accessibility-statement.html" class="govuk-button govuk-button--start">Start prototype</a>
        </div>
      </div>




      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Non-UK prototype
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">First iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
              <dt class="govuk-heading-s">Last updated</dt>
              <dt class="govuk-body">10th Aug 2021</dt>
            </dl>
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">June 2021</dt>
              </dl>

              <dl>
                <dt class="govuk-heading-s">What it is</dt>
                <dt class="govuk-body">Prototype journey that shows how non-UK users progress in the online Options journey.<br><br>
                  <strong>UPDATE</strong><br> telephone numbers updated and REMO now added (Aug 2021)
                </dt>
              </dl>
            </div>
          </div>

          <a href="nonuk/index" class="govuk-button govuk-button--start">Start prototype</a>
        </div>
      </div>

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Child cost calculator
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">First iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Last updated</dt>
                <dt class="govuk-body">Aug 2021</dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">May 2021</dt>
              </dl>

              <dl>
                <dt class="govuk-heading-s">What it is</dt>
                <dt class="govuk-body">interactive version of the 'costs of raising a child' content from GOV.uk
                </dt>
              </dl>
            </div>
          </div>

          <a href="childcost/index" class="govuk-button govuk-button--start">Start prototype</a>
        </div>
      </div>

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Error journeys and screens
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="govuk-tag govuk-tag--red">Second iteration</span>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Last updated</dt>
                <dt class="govuk-body">10th Aug 2021</dt>
              </dl>
              <dl>
                <dt class="govuk-heading-s">Date created</dt>
                <dt class="govuk-body">July 2021</dt>
              </dl>

              <dl>
                <dt class="govuk-heading-s">What it is</dt>
                <dt class="govuk-body">Prototype showing what might happen and what the user will see if the URN generator is down. Also what users will see if the service is down altogether. <br>
                  <br> <strong>UPDATE</strong><br> telephone numbers and opening hours have been updated (Aug 2021)
                </dt>
              </dl>
            </div>
          </div>
                  <a href="urnerror/index" class="govuk-button govuk-button--start">Start prototype</a>
        </div>
      </div>
    </div>
    <div class="govuk-!-padding-bottom-9"></div>
  </div>



<!--  content prototypes  -->

<div class="govuk-grid-column-full">
  <h2 class="govuk-heading-l">Content prototypes</h2>
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          

          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                 Proposed changes from Citizens Advice feedback
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          
              <span class="govuk-tag govuk-tag--red">First iteration</span>
          
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                  <dl>
                    <dt class="govuk-heading-s">Last updated</dt>
                    <dt class="govuk-body">April 2022</dt>
                  </dl>
                  <dl>
                    <dt class="govuk-heading-s">Date created</dt>
                    <dt class="govuk-body">April 2022</dt>
                  </dl>
          
                  <dl>
                    <dt class="govuk-heading-s">What it is</dt>
                    <dt class="govuk-body">A version of prototype 6 that has changed content created from feedback received from Citizens Advice.
                    </dt>
                  </dl>
                </div>
              </div>
          
              <a href="/citizensadvice/index" class="govuk-button govuk-button--start">Start prototype</a>
            </div>
          </div>






          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Proposed improved 'Options' GOV.UK content
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

              <span class="govuk-tag govuk-tag--orange">Second iteration</span>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                  <dl>
                    <dt class="govuk-heading-s">Date created</dt>
                    <dt class="govuk-body">January 2021</dt>
                  </dl>
                  <dl>
                    <dt class="govuk-heading-s"><a href="https://jira.service.dwpcloud.uk/browse/CMGO-14">Jira link</a></dt>
                  </dl>
                  <dl>
                    <dt class="govuk-heading-s">What it is/what has changed</dt>
                    <dt class="govuk-body">Variations to draft 1</dt>
                    <p class="govuk-body">Added new introductions to pages 2 and 3 to meet policy requirement of promoting effective FBA where possible.</p>
                    <p class="govuk-body">Attempted to do so by outlining pros and cons of each arrangement type, to allow user to make an informed choice</p>
                  </dl>
                </div>
              </div>
              <a href="/govuk/index" class="govuk-button govuk-button--start">Prototype</a>
            </div>
            </div>


            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Current options GOV.UK content
                  </span>
                </h2>
            
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                <span class="govuk-tag govuk-tag--red">First iteration</span>

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <dl>
                      <dt class="govuk-heading-s">Date created</dt>
                      <dt class="govuk-body">January 2021</dt>
                    </dl>
                    <dl>
                      <dt class="govuk-heading-s">What it is</dt>
                      <dt class="govuk-body">This is the Options content as it existed on GOV.UK in January 2021</dt>
                    </dl>
                  </div>
                </div>

          <a href="/prototype1/index" class="govuk-button govuk-button--start">Start prototype</a>
              </div>
            </div>

  </div>
</div>


{% endblock %}
