{% extends "layout.html" %}

{% block header %}
{% include './_header-options.html' %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">'Get Help' and 'Respond' Prototypes - test</h1>
        </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <div class="govuk-heading-xl">Prototypes for research purposes</div>
            <p class="govuk-body">Click the button to view prototpyes for the 'Get help' & 'Respond' prototypes used for
                research.</p>
            <a href="index-prototypes.html" class="govuk-button govuk-button">View prototypes</a>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-heading-xl">Prototypes for reference</div>
            <p class="govuk-body">Click the button to view 'Get help' & 'Respond' reference prototpyes for Dev Jira ticktes.</p>
            <a href="index-reference.html" class="govuk-button govuk-button">View prototypes</a>

        </div>
    </div>
</div>



{% endblock %}