{% extends "layout.html" %}

{% block header %}
  {% include './_header-options.html' %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">'Get Help' and 'Respond' Prototypes</h1>
    </div>

    <!-- Get help prototypes -->

    <h2 class="govuk-heading-l">Prototypes for research and testing</h2>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
    Contents
  </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#get-help">
        Get help prototype
      </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#respond">
        Respond prototype
      </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#archived">
        Archived prototypes
      </a>
        </li>
      </ul>

      <div class="govuk-tabs__panel" id="get-help">
        <h2 class="govuk-heading-l">Get Help Applying for Child Maintenance</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Date created </dt>
                <dd class="govuk-summary-list__value">March 2022</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Last updated</dt>
                <dd class="govuk-summary-list__value">October 2024 </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Recent updates</dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--bullet">
                    <li>the full Options (Get Help) journey</li>
                    <li> Iteration of the 'get information' page, now includes advice from 3rd parties</li>
                    <li>Iteration of the 'get information' page, now includes advice from 3rd parties</li>
                    <li>Updated content based on feedback recieved from Citizens Advice</li>
                    <li>UR question has been moved to the end of the journey, allowing a user to do their task first before we
                ask them for feedback</li>
                    <li>Content changes based on feedback from UR with Citizens Advice</li>
                    <li>Content changes to include warning text about removal of the fee</li>
                    <li>Content changed based on feedback from prof of parental law at University of Cambridge</li>
                    <li>Routing has been fixed to mirror latest flow diagram</li>
                    <li>Survey UR has been updated to only include 1 question</li>
                    <li>Survey UR has been updated to only include 1 question</li>
                    <li>Information page has been updated</li>
                  </ul>
                </div>
              </dl>
            </div>
          </div>
          <a href="prototype6/index.html" class="govuk-button govuk-button--start">Start prototype</a>
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="respond">
          <h2 class="govuk-heading-l">Respond to a Child Maintenance application</h2>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Date created</dt>
                  <dd class="govuk-summary-list__value">October 2025 </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Last updated</dt>
                  <dd class="govuk-summary-list__value">October 2025</dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Section index:</dt>
                  <dd class="govuk-summary-list__value">
                    <ul class="govuk-list govuk-list--bullet">
                      <li>
                        <a href="/datagather/iteration4/start_your_details/start.html">Start Respond journey</a> - Start, Court Order, Online account, Your details, Verify your email, Alternative Formats. </li>
                      <li>
                        <a href="/datagather/iteration4/equality/domestic-abuse-help.html">Equality questions</a> - Domestic Abuse, Equality questions. </li>
                      <li>
                        <a href="/datagather/iteration4/income/was-your-income.html">Income section</a> - Gross basic income, Changes to income, Priavte Pension.</li>
                      <li>
                        <a href="/datagather/iteration4/your_children/tell-us-about-your-children.html">Your children section</a> - Child's details, Shared Care, Parentage, Other children.</li>
                      <li>
                        <a href="/datagather/iteration4/payments/payment-types.html">Payments section</a> - Service type, Payment details, Bank accounts.</li>
                      <li>
                        <a href="/datagather/iteration4/submission/declaration.html">Submission</a> - Declaration, Submission. </li>
                    </ul>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Recent updates</dt>
                  <dd class="govuk-summary-list__value">
                    <ul class="govuk-list govuk-list--bullet">
                      <li>Update to <a href="/datagather/iteration4/start_your_details/using-a-child-maintenance-account.html">'Using a Child Maintenance account'</a> screen - adding Radios and new content</li>
                    </div>
                  </dd>
                </div>

                <div class="govuk-button-group govuk-!-padding-left-3">
                  <a href="/datagather/iteration4/start_your_details/start.html" class="govuk-button govuk-button--start">Start prototype</a>

                  {# <a class="govuk-link" href="/datagathermulticase/iteration3/income-not-on-letter.html">Income section -
              Multicase</a> #}
                </div>
              </div>
            </div>

            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="archived">
              <h2 class="govuk-heading-l">Archived prototypes</h2>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        <h3 class="govuk-heading-m">
                          <a href="index-prototypes-old.html" class="govuk-link">Archived 'Get Help' &#38; 'Respond' prototypes</a>
                        </h3>
                      </dt>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        <h3 class="govuk-heading-m">
                          <a href="index-archive.html" class="govuk-link">Archived other prototypes</a>
                        </h3>
                      </dt>

                    </div>

                  </div>
                </dl>
              </div>

            </div>

            {#  <h1 class="govuk-heading-m">
        <a href="index-prototypes-old.html" class="govuk-link">Archived 'Get Help' &#38; 'Respond' prototypes</a> <br> <br>
        <a href="index-archive.html" class="govuk-link">Archived other prototypes</a>
      </h1> #}
          </div>

        </div>
      </div>

    </div>

  </div>
  <!-- grid row -->

{% endblock %}